# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore the older builder packages
.aws
.terraform
source
.terraform.lock.hcl

state.tf

# misc
**/.DS_Store
**/*.pem